*{
    margin: 0px;
    padding-right: 20px;
    background-size: cover;
    font-family: 'Poppins', Inter;;
}
.header{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(79, 188, 79);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}
.brave{
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 30px;
    width: 250px;
    text-align: left;
}
.menu{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding-top: 20px;
    width: 700px;
}
.menuitem{
    display: block;
    float: left;
    position: relative;
    width: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.menuitem a{
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.menuitem a:hover{
    text-decoration: underline;
    text-decoration-color: orangered;
}
.btn-get button {
    writing-mode: horizontal-tb;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: orange;
    color: white;
}
.last {
    float: right;
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20px;
}
.partone{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    background-position: center;
    min-height: 500px;
    clear: unset;
    width: fit-content;
    font-size: larger;
}
.img-one{
    width: 600px;
}
.title{
    text-align: left;
    padding-left: 30px;

}
.title h1 {
    font-size: 40px;
    color: rgb(30, 121, 30);
}
#btn-explore {
    writing-mode: horizontal-tb;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: orange;
    color: white;
    font-weight: bold;
}
.dairy{
    background-color: white;
    display: flex;
    flex-direction: row;
    font-weight: bolder;
    font-size: 14px;
    margin-top: -160px;
    margin-left: 20%;
    border: 2px;
    border-style: none;
    box-sizing: border-box;
    width: 700px;
    height: 100px;
    padding: 10px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); 
    justify-content: space-evenly;   
}
.ven {
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding-top: 20px;
}
.subtitle{
    font-size: 16px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    width: 75%;
    font-size: large;
}
.subtitle h1{
    font-size: 40px;
    color: rgb(30, 121, 30);

}
.images1{
    width: 180px;
    border-radius: 0%;
    border-style: inset;
}
.items{
    display: flex;
    flex-direction: row;
    padding: 30px;
}.items{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.item-container{
    width: 30%;
    box-shadow: 0px 5px 10px 0px rgba(20, 14, 14, 0.2); 
    min-height: 240px;
    padding-left: 30px;
    padding-top: 20px;
    margin-right: 30px;
}
.prod-reports{
    display: flex;
    flex-direction: row;
    padding: 30px;   
}
.item-container1{
    width: 20%;
    box-shadow: 0px 5px 10px 0px rgba(20, 14, 14, 0.2); 
    min-height: 200px;
    padding-left: 30px;
    padding-top: 20px;
    margin-right: 30px;
}
.quantity{
   border-style: solid;
   width: 100px;
}
#compute{
    background-color: orange;
   font-weight: bold;
   
}
.production{
    font-size: 12px;
}
.sales{
    font-size: 14px;
}
.monthly-sales{
    font-size: 14px;
}
.quick-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px; 
    padding-bottom: 50px;
    font-weight: 500;
    background-color: rgb(79, 188, 79);;
}
.quick-links .links{
    padding-right: 30px;
    text-align: left;
    width: 300px;
    text-decoration: none;
}
.quick-links-item{
    height: 30px;
    text-decoration: none;
}
.quick-link-item a{
    text-decoration: none;
    color: black;
}
.brave1{
    text-align: left;
    font-size: larger;
}

footer .rights{
    text-align: center;
    padding-bottom: 20px;
}